<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Add Student</h1>

    <div class="form-container">
        <form action="/addStudent" method="POST">
            <label for="studentName">Student Name:</label>
            <input type="text" id="studentName" name="name" placeholder="Enter Student Name" required>
            <button type="submit">Add</button>
        </form>
        <a href="/">⬅ Back to Home</a>
    </div>
</body>
</html>
